.branch-item__container-item-items {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.branch-item__container-items__user-time {
  display: flex;
}

.branch-item__paragraph-block__paragraph {
  margin: 0;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #b7b9bb;
}

.branch-item__paragraph-block__paragraph span {
  margin: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ff5722;
}

.branch-item__paragraph-block__paragraph-date__true {
  margin: 0;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #b7b9bb;
}

.branch-item__paragraph-block__paragraph-date {
  margin: 0;
  margin-left: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ff5722;
}

.branch-item__items__branches {
  display: flex;
  background: #f2f5fa;
  border-radius: 10px;
  align-items: center;
  padding: 2px 8px;
  cursor: pointer;
  transition: 0.9s;
}

.branch-item__items__branches:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.branch-item__items__branches-none {
  display: none;
}

.branch-item__items__branches p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #b7b9bb;
  margin: 0;
  margin-right: 5px;
}

.branch-item__items__branches-items {
  display: block;
  border-top: 2px solid #f2f5fa;
  padding-top: 7px;
  margin-top: 20px;
}

.branch-item__items__branches-items-none {
  display: none;
}

.branch-item__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branch-item__item-completed {
  opacity: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branch-item__item-name {
  display: flex;
  align-items: center;
}

.branch-item__item-name div {
  cursor: pointer;
}

.branch-item__item-name p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin: 0;
  margin-left: 11px;
}
